<ion-header>
  <ion-toolbar>
    <ion-title>{{room.attributes.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="details">
  <ion-slides>

      <ion-slide>
        <img src="../../assets/imgs/{{room.attributes.imgID}}.jpg"/>  
      </ion-slide>

      <ion-slide>
        <img src="../../assets/imgs/{{room.attributes.imgID}}.jpg"/>  
      </ion-slide>

    </ion-slides>     
    <ion-card-content>
      <p>Área <b>{{room.attributes.area}}</b></p>
      <p>Dimensões <b>{{room.attributes.dimension}}</b></p>
      <p>{{room.attributes.description}}</p>      
    </ion-card-content>
    <ion-button fill="solid" expand="full" color="success" (click)="reserve(room)">Reservar</ion-button>
  </ion-card>
</ion-content>
