<ion-header>
  <ion-toolbar>
    <ion-title>
      Minhas Reservas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  
      <ion-card *ngFor="let item of rooms, let i = index" class="result-card">
          <img src="../../assets/imgs/R{{i}}.jpg" class="img-room"/>
          <div class="card-title">{{item.attributes.name}}</div>
          <ion-card-header>
              <ion-card-subtitle>Área <b>{{item.attributes.roomRev.attributes.area}}</b> com dimenções <b>{{item.attributes.roomRev.attributes.dimension}}</b></ion-card-subtitle>
              <ion-card-title>{{item.attributes.roomRev.attributes.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{item.attributes.roomRev.attributes.description}}</p>
          </ion-card-content>
          <ion-item lines="full">
            <ion-item *ngIf="item.attributes.datesRev.length > 1">
              <ion-icon name="calendar" slot="start"></ion-icon>
              Datas selecionadas {{item.attributes.datesRev}}
            </ion-item>
            <ion-item *ngIf="item.attributes.datesRev.length == 1">
              <ion-icon name="calendar" slot="start"></ion-icon>
              Data selecionada {{item.attributes.datesRev}}
            </ion-item> 
            </ion-item>
          <ion-button expand="full" color="danger" (click)="removeReserve(item)">
              <ion-icon name="checkmark"></ion-icon>
              Remover Reserva
          </ion-button>
      </ion-card>
</ion-content>
