.result-card{
    margin: 5% 15%;
    background-color:white;
}

.card-title {
    position: absolute;
    top: 30%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.60);
    text-align: center;
}
.primary{
    color: red;
}
