<ion-header>
  <ion-toolbar>
    <ion-title>
      Minhas Reservas
    </ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="doRefresh($event)">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  
      <ion-card class="dates-card" *ngIf="rooms.length == 0">
          <ion-card-header>
            <ion-card-title>Nenhuma reverva encontrada</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <p>Nenhuma reverva encontrada.</p>
            <p>Por favor, procure em outras datas ou entre em contato com o PRCEU</p>
          </ion-card-content>
      </ion-card>
  
      <ion-item-divider *ngIf="rooms.length > 0">
        <ion-label slot="start">
            <h2>{{rooms.length}} resultados</h2>
        </ion-label>
      </ion-item-divider>
      
      <ion-list class="result-list" *ngIf="rooms.length > 0">
          <ion-item-sliding *ngFor="let item of rooms, let i = index">
          
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../assets/imgs/{{item.attributes.roomRev.attributes.imgID}}.jpg" class="img-room"/>
              </ion-thumbnail> 
              <ion-label>           
                  <h1>{{item.attributes.roomRev.attributes.name}}</h1>
                  <h2>{{item.attributes.datesRev}}</h2>
                  <p>
                      Área <b>{{item.attributes.roomRev.attributes.area}}</b> com dimensões <b>{{item.attributes.roomRev.attributes.dimension}}</b>
                  </p>
              </ion-label>
              <ion-button fill="outline" slot="end" color="danger" (click)="presentAlertConfirm(item)">Remover</ion-button>
            </ion-item>
            
          </ion-item-sliding>
    </ion-list>
</ion-content>
