
.item.item-block .item-inner {
    border-bottom: 0;
}
.login-card{
    margin: 5% 30%;
    background-color:white;
}
ion-content {
    --ion-background-color: #c8c8c8;
}
ion-item, ion-list{
    --ion-background-color: white;
}
.logo {
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
}    

  
